@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "AllianceNo2";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/AllianceNo.2-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "AllianceNo2";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(fonts/AllianceNo.2-Medium.woff) format("woff");
  }
}

body {
  margin: 0;
  font-family: "AllianceNo2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
